body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.btn1{
    border-style: none;
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: burlywood;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 5px rgb(241, 213, 176);
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 830px;
    height: 830px;
    background-color: aqua;
    border-radius:5px ;
    border: solid black 5px;
}

#one{
    opacity: 1;
    box-sizing: border-box;
}



